
.required { 
   color: red;
}
 
.errorMsg {  
   color: red;
}
 
.errorBox {  
   border: 2px solid red;
}
 
table {
   border: 0;
}
 
td {
   margin: 0;
   padding: 3px 10px;
}
.formBox{
    border:2px 2px 2px 2px;
    background-color:lightblue;
    width:500px;
}
